body { 
    margin: 0; padding: 0; 
    font-family: "Ubuntu";
    color: black;
}

#map { 
    position: absolute; 
    top: 0; bottom: 0; 
    width: 70%; height: 100%; 
}

#data { 
    pointer-events: none;
    position: absolute; 
    top: 0; bottom: 0; 
    width: 70%; height: 100%; 
    background:rgba(255, 255, 255, 0);
}

#controller {
    position: absolute;
    top: 0; left: 70%;
    width: 30%; height: 50%;
}

#controller button {
    border-radius: 0;
    background: white;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 3px ridge;
    border-right: 3px ridge;
    border-color: grey; 
}

#controller button.selected, #controller button.selected:hover  {
    background: #31a354;
    color: white;
}

#controller button:hover {
    background: #bae4b3;
}

#legend {
    position: absolute;
    top: 50%; left: 70%;
    width: 30%; height: 50%;
}

#legend table, #legend th, #legend td {
    border: white 3px solid;
}

#legend table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap; 
}

#legend table th {
    background: #31a354;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#legend table td {
    background: #bae4b3;
}

/* Range Slider Style */
.noUi-connect {
    background: limegreen;
}

.noUi-pips-horizontal {
    color: black;
	top: -60px !important;
}

div.noUi-marker.noUi-marker-horizontal.noUi-marker-large {
    background: black;
    height: 10px; top: 40px;
}

div.noUi-target {
    height: 10px;
}

.noUi-origin {
    transform: none;
}

.noUi-handle::before, .noUi-handle::after {
    display: none !important;
}

div.noUi-handle {
    height: 18px !important;
    width: 18px !important;
    top: -5px !important;
    right: -9px !important;
    border-radius: 9px;
}

div.noUi-tooltip {
    height: 20px;
    padding: 0 0;
}

.slider-checkbox {
    display: inline-block;
}
