body { 
    margin: 0; padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; bottom: 0; 
    width: 70%; height: 100%; 
}

#data { 
    pointer-events: none;
    position: absolute; 
    top: 0; bottom: 0; 
    width: 70%; height: 100%; 
    background:rgba(255, 255, 255, 0);
}